* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}


.container {
    width: 60%;
    margin: 45px auto;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-photo {
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: #ccc;
    border-radius: 10px;
}

.profile-info {
    display: inline-block;
    margin: auto;
    font-family: 'Inter', sans-serif;
    padding: 10px 0;
}

.profile-info h1 {
    font-weight: 400;
}

.profile-info p {
    font-weight: 600;
    text-align: center;
    color: #AAA0A0;
}

.social-stats {
    display: flex;
    width: 500px;
    margin: auto;
    justify-content: center;

}

.social-stat {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #D9D9D9;
    margin: 30px 25px;
    width: 130px;
    height: 80px;
    border-radius: 15px;
    text-align: center;
}

.social-stat h2 {
    font-family: 'Montserrat', serif;
    font-size: 22px;
}

.social-stat p {
    font-family: 'PT Sans',sans-serif;
    color: #999191;
    font-size: 18px;
}

main.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;

    grid-template-areas: 
    "first second second"
    "third third four"
    "five six four";

    gap: 25px;

    padding: 40px 0;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gallery-item img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.gallery-item:nth-child(1) {
    grid-area: first;
}

.gallery-item:nth-child(2) {
    grid-area: second;
}

.gallery-item:nth-child(3) {
    grid-area: third;
}

.gallery-item:nth-child(4) {
    grid-area: four;
}

.gallery-item:nth-child(5) {
    grid-area: five;
}

.gallery-item:nth-child(6) {
    grid-area: six;
}


.big-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-image {
    width: 80%;
    max-height: 80%;
    object-fit: cover;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    .profile-photo{
        width: 150px;
        height: 150px;
    }

    .profile-info {
        padding: 5px 0;
    }

    .profile-info h1 {
        font-size: 22px;
    }

    .profile-info p {
        font-size: 16px;
    }

    .social-stats {
        width: 100%;
    }

    .social-stat {
        width: 100px;
        height: 60px;
        margin: 20px 10px;
    }

    .social-stat h2 {
        font-size: 18px;
    }

    .social-stat p {
        font-size: 14px;
    }

    main.gallery {
        gap: 10px;

        padding: 10px 0;
    }
}